{% extends 'base.html' %}

{% block content %}
    
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2 class="card-title" Style = "text-align: center;">Member Registration</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter your username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="number_field" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="number" placeholder="Enter your Number" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
