{% extends 'base.html' %}

{% block content %}
    
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Users
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Meals
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    User 1
                </td>
                <td class="px-6 py-4">
                    2023-11-01
                </td>
                <td class="px-6 py-4">
                    3
                </td>
            </tr>
            <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    User 2
                </td>
                <td class="px-6 py-4">
                    2023-11-01
                </td>
                <td class="px-6 py-4">
                    2
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    User 1
                </td>
                <td class="px-6 py-4">
                    2023-11-02
                </td>
                <td class="px-6 py-4">
                    2
                </td>
            </tr>
            <!-- Add more rows with your data here -->
        </tbody>
    </table>
</div>


{% endblock content %}
    