{% extends 'base.html' %}

{% block content %}
<ul class="list-group mb-4 pb-2">
    <p Style = "text-align: center; color : #000000; font-weight: bold;"> Member's List</p>
    {% for member in members %}
        <li class="list-group-item border-0 mb-2 rounded" style="background-color: #f4f6f7; margin-left: 75px; margin-right: 75px;">
            <div class="d-flex align-items-center justify-content-between ml-3">
                <div class="d-flex">
                    <p class="mb-0 ml-2" style="color: #000000 ; font-size : 18px; text-align: center; ">{{ member.username }}</p>
                    
                    {% if member.is_admin == True %}
                        <p class="mb-0 ml-2" style="color:  #1a0000  ; font-size : 12px; text-align: center; ">(Admin)</p>
                    {% else %}
                        <p class="mb-0 ml-2" style="color:  #1a0000 ; font-size : 12px; text-align: center;">(Member)</p>
                    {% endif %}  
                    
                </div>
                <div class="d-flex">
                    <form method="post" action="#">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Edit</button>
                    </form>
                    <form method="post" action="#">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ml-2">Remove</button>
                    </form>
                </div>

            </div>
        </li>
    {% endfor %}
</ul>

{% endblock content %}
